[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
opencv-python = "*"
numpy = "*"
"h5py" = "*"
tensorflow = "*"
keras = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.6"
