<!DOCTYPE html>
<html>
  <head>
    <title>canvas tutorial</title>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="/static/js/app.js"></script>
    <link rel="stylesheet" href="/static/css/app.css">
  </head>
  <body onload="mam_draw_init();check();">
    <div align="center">
      <h1 class="page-header">手書き文字認識(0~9)</h1>
      <div class="canvas" id="candiv">
          <canvas id="can" width="280px" height="280px"></canvas>
      </div>
      <form action="/" method="post">
          <button type="button" onClick="clearCan();" value="クリア" class="clear-button">クリア</button>
          <button type="submit" id="img" name="img" onClick="saveImg();" value="認識" class="send-button">認識</button>
      </form>
      <div>
        {% if ans != None %}
          答えは<span class="answer">{{ ans }}</span>です
        {% endif %}
      </div>
    </div>
  </body>
</html>